engine.cfg
engine.cfg
icon.png
icon.png.flags
export.cfg
/.import
/addons/platform2d/*.import
/addons/platform2d/textures/*.import
/platform2d-example/*.import
/*.import
.import/
export/
*.import
*.log
*.tmp
*.mono/
mono_crash.*
.project_export.json

